@model AccountViewModel
@{
    ViewData["Title"] = $"My Accounts - {Model.Account.Type.ToString()}";
}

<div class="hero is-small">
    <div class="hero-body">
        <div class="container">
            <p class="content">
                <a href="@Url.Action("Index", "Home")" class="button is-text has-text-info">
                    <i class="fa fa-angle-left"></i>
                    &nbsp;
                    Back
                </a>
            </p>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">@Model.Account.Type.ToString()</h1>
                    </div>
                    <div class="level-item">
                        <h2 class="subtitle">
                            # @Model.Account.AccountNumber
                        </h2>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <h1 class="title has-text-success">$</h1>
                    </div>
                    <div class="level-item">
                        <h2 class="subtitle">Available</h2>
                    </div>
                </div>
            </div>
            @*
            @if (Model.Type == AccountType.Credit)
            {
                <div class="level">
                    <div class="level-left"></div>
                    <div class="level-right">
                        <div class="level-item">
                            <p>
                                Credit line: <strong>$@Model.Balance</strong>
                            </p>
                        </div>
                    </div>
                </div>
            }
            *@
            <hr/>
            <div class="content">
                <h4>History</h4>
                <table class="table is-striped" data-table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Transactions.Count() > 0)
                    {
                        foreach (var transaction in Model.Transactions)
                        {
                            <tr>
                                <td>@transaction.ProcessingDate.ToShortDateString()</td>
                                <td>@transaction.TransactionType</td>
                                <td>$@transaction.Amount</td>
                                <td>@transaction.Description</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="has-text-centered">No history yet. Your first transaction will appear here.</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="new-goal-modal" class="modal">
    <div class="modal-background" data-close="modal" data-target="#new-goal-modal"></div>
    <div class="modal-content">
        <div class="modal-card">
            <div class="modal-card-head">
                <h1 class="modal-card-title">New Goal</h1>
            </div>
            <div class="modal-card-body">
                <form>
                    <div class="field">
                        <label class="label">Name</label>
                        <input type="text" class="input" />
                    </div>
                    <div class="field">
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <div class="select">
                                        <select>
                                            <option>Save at least</option>
                                            <option>Spend less than</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <input type="number" class="input" placeholder="Enter a dollar amount" />
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <div class="select">
                                        <select>
                                            <option>Every week</option>
                                            <option>Every month</option>
                                            <option>Every year</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="radio">Notifications</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="notifications" checked="checked">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="notifications">
                                No
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-card-foot">
                <div class="buttons">
                    <button type="submit" class="button is-info" data-close="modal" data-target="#new-goal-modal">Create</button>
                    <button type="reset" class="button" data-close="modal" data-target="#new-goal-modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>